<NavigationBar>
	<nav class="flex items-center space-x-6 text-sm font-medium">
		<NavigationLink href="/" IsActive="true">
			Overview
		</NavigationLink>
		<NavigationLink href="/">
			Customers
		</NavigationLink>
		<NavigationLink href="/">
			Products
		</NavigationLink>
		<NavigationLink href="/">
			Settings
		</NavigationLink>
	</nav>
	<div class="ml-auto flex items-center space-x-4">
		<ButtonLink Variant="ButtonVariant.Ghost" href="/login">
			Login
		</ButtonLink>
		<ButtonLink href="/">
			Signup
		</ButtonLink>
	</div>
</NavigationBar>

@code {

}
