@inherits LayoutComponentBase

<div class="relative flex min-h-screen flex-col">
    <header class="sticky top-0 z-50 w-full border-b">
        <NavBarComponent />
    </header>
    <main class="flex-1">
        <div class="container relative">
            <section class="flex max-w-[980px] flex-col items-start gap-2 px-4 pt-8 md:pt-12 pb-8">
                @Body
            </section>
        </div>
    </main>
</div>