@page "/"
<div>
	<TypographyH1>
		Lorem Ipsum
	</TypographyH1>
	<TypographyP>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula viverra aliquet. Nam vel dolor nec nisl volutpat fringilla.
	</TypographyP>
	<TypographyH2>
		Etiam Mollis
	</TypographyH2>
	<TypographyP>
		Etiam mollis purus eu orci venenatis, vitae finibus tortor viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et venenatis felis.
	</TypographyP>
	<Blockquote>
		"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas."
	</Blockquote>
	<TypographyH3 class=" mt-8">
		Suspendisse Potenti
	</TypographyH3>
	<TypographyP>
		Nulla at tincidunt ex. Integer sed nulla justo. Vestibulum a tortor a est vehicula laoreet id vel arcu.
	</TypographyP>
	<TypographyList>
		<li>
			Cras non purus
		</li>
		<li>
			Vivamus varius ultricies
		</li>
		<li>
			Ut ullamcorper
		</li>
	</TypographyList>
	<TypographyP>
		Etiam mollis purus eu orci venenatis, vitae finibus tortor viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et venenatis felis.
	</TypographyP>
	<TypographyH3 class=" mt-8">
		Nulla At Tincidunt
	</TypographyH3>
	<TypographyP>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula viverra aliquet. Nam vel dolor nec nisl volutpat fringilla.
	</TypographyP>
	<TypographyTable />
</div>

